
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Baloo 2', cursive;
   background: #4e54c8; 

   position: absolute;
     top: 6px; 
    left: 6px; 
     bottom: 6px;
     right: 0; 
   overflow-y: scroll;
   overflow-x: hidden;
}
#welcome-section{
    /* background-color: rgb(44, 45, 46);  */
    /* width:100%; */
    /* height:100vh; */
    text-align: center;
    font-size: 40px;
    color: #f2f2f2;
   }
   #center{
 /* padding-top: 15%;  */
 width: 100%;
 position: absolute;
 top:50vh;
   }
   #web{
      color: red;
      font-size: 30px;  
   }
   #underlinehead{
      color: #f2f2f2;
      font-weight: 700;
      font-size: 40px;
      text-decoration: underline;  
      padding: 83px 8px 0px 5px; 
   }
   #projects{
    background-color: rgb(62, 70, 114); 
    width:100%;
    height:220vh;
    text-align:center;
   }


   #projectTiles{
      display: flex;
      flex-wrap: wrap;
      list-style-type:none;
      padding: 0;
      margin: 0;
   }
   #profile-link{
      padding: 15px 32px;
      border: none;
      text-decoration: none;
      font-size: 18px;
      color:white; 
      display: inline-block;
      background-color: #363535;
      width: 139px;
   }
   .buttonstyle  {
      padding: 15px 32px;
      border: none;
      text-decoration: none;
      font-size: 18px;
      color:white; 
      display: inline-block;
      background-color: #363535;
      width: 239px;
   }

   .project-tile{
      width: 100px;
      margin: 10px;
      padding: 25px 130px 55px 100px;
      text-align: center;  
   }

   #navbar{
    top:0px;
    position: fixed;
    background-color: red;
    width:100%;
    height:70px; 
   }
   /* .nav-link{
    color: #f2f2f2;
    text-align: center;
    padding: 0px 30px;
    margin-left:1px; 
    text-decoration: none;
   
   } */
   nav ul{
      float: right; 
   }
   nav ul li {
   display:inline-flex;
   list-style-type:none;
   font-size:30px;
   font-weight:20px;
   }


   @media screen and (max-width: 700px) {
      #projectTiles{
         display: block;
      }
      #projects{ 
         height: calc(100% - 4em);
        }
     
      img{
         width: 100vh;
      }
      #underlinehead{
         font-size:45px; 
      }
      .buttonstyle{
        width: 86vh;
      }
    }



.area{
    /* background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  */
    background: linear-gradient(132deg, #FC415A, #591BC5, #212335); 
    width: 100%;
    height:100vh;   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}





.banner-text {
	width: 100%;
	position: absolute;
	z-index: 1;
}
.banner-text ul {
	height: 50px;
	float: right;
}
.banner-text ul li {
	display: inline-block;
	 padding: 40px 15px;
	/* text-transform: uppercase;
	color: #fff;
	font-size: 20px;  */
}
.banner-text ul li:hover {
	cursor: pointer;
}

.nav-link{
   color: #fff;
   padding: 40px 15px;
   text-transform: uppercase;
   font-size: 20px;
   text-decoration: none;}

   /* .nav-link:before{
     content: " ";
     position: absolute;
     left: 0%;
     bottom: 10px;
     height: 1px;
     width: 0%;
     background-color: #fff;
     transition: width 0.5s ease-in-out;
   }
   .nav-link:after{
     content: " ";
     position: absolute;
     right: 0%;
     bottom: 10px;
     height: 1px;
     width: 0%;
     background-color: #fff;
     transition: width 0.5s ease-in-out;
   }
   
   .nav-link:hover:before{
         width:50%
       }


   .nav-link:hover:after{
      width:50%
    } */



  
/* .scrollbar
{
	margin-left: 30px;
	float: right;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
} */

/* .force-overflow
{
	min-height: 450px;
} */


/* Scrollbar Styling */
::-webkit-scrollbar {
   width: 10px;
}

::-webkit-scrollbar-track {
   background-color: #ebebeb;
   -webkit-border-radius: 10px;
   border-radius: 10px;
}

::-webkit-scrollbar-thumb {
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #8f94fb; 
}
 
/* Logo */
.logo{
    width: 35px;
    height: 35px;
    background: #EFEEF5;
    margin: 40px 63px;
    float: left;
    transform: rotate(-30deg);
  }
  .logo span{
    color: #591BC5;
    font-size: 2em;
    line-height: 1.4;
    padding-left: 5px;
    font-weight: bold;
  }
.section_header{
   /* // background-color: #ebebeb; */
   color: #f2f2f2;
   text-align: center;
   font-size: 32px;
}

img {
        border-radius: 50%;
        border: 6px solid #f2f2f2;
        padding: 0px;
        margin-top: 50px;
        margin-bottom: 40px;
      }


  section hr{
    width: 10%;
    height: 2px;
    background-color: #CECECE;
    border-top: 0px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  
.about_grid_container {
    display: grid;
    height: 400px;
    align-content: end;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
  }
  
  .about_grid_container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }



.paradesc{
  padding: 30px 32px;
}
  .about-info{
    padding: 10px 32px;
    display: flex;
    justify-content: space-between;
  }
/* social media */


.social-menu ul{
    position: absolute;
    /* top: 50%; */
    left: 42%;
    padding: 0;
    padding-top: 60px;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 50px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}

.button {
  background-color: white; 
  border: 2px solid #8f94fb;
  color: black; 
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}
/* Hover */
@keyframes hover {
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(-6px);
  }
}
.hover {
  display: inline-block;
  transition-duration: .5s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hover:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.Contact_section{
  padding: 40px;
}

/* contact form */
.FormContent{
    display: block;
    text-indent: 50px;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 7px;
    color: #fff;
    padding: 30px;
    width: 150vh;
    backdrop-filter: blur(10px);/* glassmorphism */
    background-color: rgba(255, 255, 255, 0.089);/* glassmorphism */
    border: 1px solid rgba(255,255,255,0.1);/* glassmorphism */
    margin:0 auto;
    margin-top: 30px;
}



.FormContent input{
    display: inline-block;
    padding: .65em .85em;
    transition: 0.3s linear;
    box-sizing: border-box;
    outline: none;
    border: 2px solid  #4e54c8;
    border-radius: 7px;
    margin: 8px 0;
    width: 100%;
}

.FormContent input[type=submit]{
    background-image: linear-gradient(to left,  #8f94fb 0%,#4e54c8 100%);
    box-shadow: 0 9px 25px -5px #4e54c8;
    padding: 0.5em 1.9em;
	margin: 0.3em 0 0 0;
	border-radius: 7px;
	font-size: 1.4em;
	cursor: pointer;
	color: #FFFFFF;
	font-size: 1em;
	outline: none;
	border: none;
    transition: 0.3s linear; 
  }
  .FormContent input[type=submit]:hover {
    opacity: 0.8;
    transform: translatey(2px);
  }

.FormContent textarea{
 padding: .75em .85em;
 box-sizing: border-box;
 border: 2px solid  #4e54c8;
 border-radius: 7px;
 margin: 8px 0;
 width: 100%;
 height: 200px;
 outline: none;
 font-size: 1.2em;
 resize: none;
}
.footerdiv{
  text-align: center;
  padding: 10px; 
}
footer hr{
  border-top-color:#bbb;
  opacity:0.5 ;
  margin:7px;
}